// INTER

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src:
		local("Inter-ExtraBold"),
		url("@/assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 800;
	src:
		local("Inter-ExtraBoldItalic"),
		url("@/assets/fonts/inter/Inter-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src:
		local("Inter-Bold"),
		url("@/assets/fonts/inter/Inter-Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	src:
		local("Inter-BoldItalic"),
		url("@/assets/fonts/inter/Inter-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src:
		local("Inter-SemiBold"),
		url("@/assets/fonts/inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	src:
		local("Inter-SemiBoldItalic"),
		url("@/assets/fonts/inter/Inter-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src:
		local("Inter-Medium"),
		url("@/assets/fonts/inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	src:
		local("Inter-MediumItalic"),
		url("@/assets/fonts/inter/Inter-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src:
		local("Inter-Regular"),
		url("@/assets/fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	src:
		local("Inter-Italic"),
		url("@/assets/fonts/inter/Inter-RegularItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src:
		local("Inter-Light"),
		url("@/assets/fonts/inter/Inter-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	src:
		local("Inter-LightItalic"),
		url("@/assets/fonts/inter/Inter-LightItalic.ttf") format("truetype");
}

// GRAPHIT

@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 900;
	src:
		local("Graphit-Black"),
		url("@/assets/fonts/graphit/Graphit-Black.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 900;
	src:
		local("Graphit-BlackItalic"),
		url("@/assets/fonts/graphit/Graphit-BlackItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 700;
	src:
		local("Graphit-Bold"),
		url("@/assets/fonts/graphit/Graphit-Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 700;
	src:
		local("Graphit-BoldItalic"),
		url("@/assets/fonts/graphit/Graphit-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 500;
	src:
		local("Graphit-Medium"),
		url("@/assets/fonts/graphit/Graphit-Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 500;
	src:
		local("Graphit-MediumItalic"),
		url("@/assets/fonts/graphit/Graphit-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 400;
	src:
		local("Graphit-Regular"),
		url("@/assets/fonts/graphit/Graphit-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 400;
	src:
		local("Graphit-Italic"),
		url("@/assets/fonts/graphit/Graphit-RegularItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 300;
	src:
		local("Graphit-Light"),
		url("@/assets/fonts/graphit/Graphit-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 300;
	src:
		local("Graphit-LightItalic"),
		url("@/assets/fonts/graphit/Graphit-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: normal;
	font-weight: 100;
	src:
		local("Graphit-Thin"),
		url("@/assets/fonts/graphit/Graphit-Thin.ttf") format("truetype");
}
@font-face {
	font-family: 'Graphit';
	font-style: italic;
	font-weight: 100;
	src:
		local("Graphit-ThinItalic"),
		url("@/assets/fonts/graphit/Graphit-ThinItalic.ttf") format("truetype");
}