html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
body {
  overflow-y: scroll;
  opacity: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: none;
  &.enable-transitions {
    transition: all 0.3s ease;
  }
  &.theme-ready {
    opacity: 1;
  }
}
#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  position: relative;
  text-decoration: none;
}
.text-link {
  color: var(--social-color);
  border-bottom: 1px solid var(--social-color);
  padding-bottom: 2px;
}
p {
  margin: 0;
  padding: 0;
  // margin: var(--spacing-4x) 0;
  // + p {
  //     margin-top: var(--spacing-6x);
  // }
}
img {
  max-width: 100%;
  height: auto;  
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 { 
  font-size: var(--font-size-hero);
  line-height: var(--line-height-extralarge);
  font-weight: 700;
  letter-spacing: -0.5px;
}
h2 { 
  font-size: var(--font-size-extralarge);
  line-height: var(--line-height-large);
  font-weight: 700;
  letter-spacing: -0.5px;
}
h3 { 
  font-size: var(--font-size-larger);
  line-height: var(--line-height-medium);
  font-weight: 600;
  letter-spacing: -0.25px;
}
h4 { 
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
h5 { 
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
h6 { 
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
::selection {
  background-color: var(--selection-bg-color);
}
.text {
  &:last-child {
    margin-bottom: 0;
  }
  &.small {
    font-size: var(--font-size-base);
    line-height: var(--line-height-small);
    font-weight: 500;
  }
  &.medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
  }
  &.large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-medium);
  }
  &.hero {
    font-size: var(--font-size-hero);
    line-height: var(--line-height-extralarge);
    font-weight: 700;
  }
}
ul.list,
ol.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: disc;
  gap: 0;
  margin: var(--spacing-8x) 0;
  // padding-left: var(--spacing-10x);
  &.lonely {
    margin-top: var(--spacing-4x);
  }
}
ul.list li {
  display: flex;
  list-style: none;
}
ul.list li p {
  padding: 0;
  margin: 0;
}
ul.list > li::before {
  display: table-cell;
  width: 2.25ch;
  box-sizing: border-box;
  padding-inline-end: 0.75ch;
  content: "•";
}
ol.list {
  list-style: auto;
}
.link {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 2px;
}
.fade-in {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}